:local(.app)
  display flex
  justify-content center
  flex-direction column
  >h1
    text-align center
  >ul
  	margin auto
  #error
    color red 
  #refresh
    max-width 100px
    margin auto
    margin-bottom 20px